* {
box-sizing: border-box ;
}

body {
    width: 100vw;
    height: 100vh;
}

.flex-container {
display:flex;
}

.option {
width: 300px;
height: 50px;

text-align: center;
background-color: #eae9e9;
color: #595959;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
} 

.one {
background-color: #595959;
color: #bababa;
}