* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1000px;
    height: 500px;
    background-color: rgb(137, 227, 117);
}

.title {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 500px;
    height: 200px;
    font-size: 30px;
    text-align: center;
}

.nav-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 30px;
}


.main {
    width: 1000px;
    height: 2340px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.boxcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    background-color: black;
    width: 900px;
    height: 2300px;
    margin-top: 20px;
}

.smallbox {
    display:flex;
    flex-wrap: wrap;

    width: 250px;
    height: 500px;
    margin: 10px;

    color: #fff;
}

.smallbox img {
    width: 250px;
    height: 250px;
}

.smallbox p {
    margin-top: 0px;
}

.smallbox button {
    background-color: rgb(250, 97, 97);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a {
    color: #fff;
}

.bigbox {
    width: 375px;
    height: 550px;
    margin: 20px;
    background-color: #fff;
}

.bigbox img {
    width: 375px;
    height: 375px;
}

.bigbox h2 {
    margin-left: 10px;
}

.bigbox p {
    margin-left: 10px;
}

.bigbox button {
    background-color: rgb(250, 97, 97);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(253, 123, 123);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    width: 1000px;
    height: 200px;
}

.infooter {
    display: flex;
    justify-content: center;
}

.nav {
    width: 70px;
    height: 120px;
    margin: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav p {
    margin: 0px;
}
.infobox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 120px;
    margin: 20px;
    color: #fff;
}

.infobox p {
    margin: 0px;
}
h2 {
    margin-top: 0px;
}