* {
    box-sizing: border-box;
}

body {
    width: 100vw; /* Body ska ta upp hela sidans bredd och höjd */
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;

}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
  }
  
  /* Red Box */
  .box.red {
    background-color: red;
    border: 10px solid darkred;
    
  }
  
  /* Light red half box in red box */
  .lightred {
    width: 180px;
    height: 90px;
    background-color: rgb(255, 141, 141);
    margin-top: 50%;
    
  }

  /* Yellow Box */
  .box.yellow {
    background-color: yellow;
    border: 10px solid goldenrod;
  }

    /* Light yellow quarter box in yellow box */
  .lightyellow {
    width: 90px;
    height: 90px;
    background-color: rgb(253, 253, 147);
    margin-top: 50%;
    margin-left: 50%;
  }

  /* Green Box */
  .box.green {
    background-color: green;
    border: 10px solid darkgreen;
  }

    /* Light green quarter box in green box */
    .lightgreen {
      width: 90px;
      height: 90px;
      background-color: rgb(106, 154, 93);
      margin-top: 50%;
      margin-right: 50%;
    }