* {
    box-sizing: border-box;
}

body {
    width: 100vw; /* Body ska ta upp hela sidans bredd och höjd */
    height: 100vh;
}

.flex-container {
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
  }
  
  /* Red Box */
  .box.red {
    align-items: flex-end;    
    background-color: red;
    border: 10px solid darkred;
    
  }
  
  /* Light red half box in red box */
  .lightred {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 141, 141);
  }

  /* Yellow Box */
  .box.yellow {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: yellow;
    border: 10px solid goldenrod;
  }

    /* Light yellow quarter box in yellow box */
  .lightyellow {
    width: 50%;
    height: 50%;
    background-color: rgb(253, 253, 147);
  }

  /* Green Box */
  .box.green {
    align-items: flex-end;
    background-color: green;
    border: 10px solid darkgreen;
  }

    /* Light green quarter box in green box */
    .lightgreen {
      width: 50%;
      height: 50%;
      background-color: rgb(106, 154, 93);
    }